*{
    margin: 0;
}
html, body{
    height: 100%; 
    width:100%;
}
.container{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;

}
header{
    position: sticky;
    top: -16px;
   padding-top: 16px;
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color:#e63946;
   width: 100%;
}
.content{
     display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
}
nav{
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color:#a8dadc;
   height: 100px;
   flex:1;
}
main{
     display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #f1faee;
   height: 1000px;
   flex:3;
}
footer{
     display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: #457b9d;
   width: 100%;
}

.pic{
    position: fixed;
    top:20px;
    right: 20px;
}


h1, h2, h3, h4 {
   font-family: "Sniglet", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
    font-family: "Sniglet", sans-serif;
    font-weight: 400;
  font-style: normal;
    font-size: 3.375rem;
    color:#1d3557;
}

h2{
   
 
    font-size: 2.25rem;
    color:
#a8dadc;
    line-height: 2.1;


}

h3{
    font-size: 1.5rem;
    color:#457b9d
}
a{
    text-decoration: none;
}
a:link{
    color:#1d3557
}
a:visited{
    color:#1d3557;


}


a:hover{
    color:
#457b9d;


}






a:active{
    color: #a8dadc;


}
       
footer{
     display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color:
#457b9d;
   width: 100%;
}

.pic{
    position: fixed;
    top:20px;
    right: 20px;
}

header {
        position: sticky;
        top: -15px;
        padding-top: 15px;
        opacity: 1;
        Background-color: #e63946 ;
}




